ul {
    display: flex;
}

header {
    height: 40px;
    background-color: #333333;
    color: #b0b0b0;
    line-height: 40px;
    font-size: 12px;
}

header nav {
    width: 1225px;
    margin: 0 auto;
}

header nav .left {
    float: left;
}

header ul {
    gap: 6.8px;
}

header ul li:first-child {
    padding-left: 0;
}

header ul:nth-child(2n+1) {
    color: #383c3f;
}

header nav .right {
    display: flex;
    float: right;
}

header nav .right div {
    width: 120px;
    height: 40px;
    margin-left: 25px;
    background-color: #424242;
    text-align: center;
}

header nav .right div i {
    font-size: 15px;
    font-weight: 600;
}

main {
    margin: 0 auto;
    width: 1225px;
    background-color: #ffffff;
}

main nav {
    display: flex;
    width: 100%;
    line-height: 100px;
    font-size: 16px;
}

main nav span a img {
    width: 55px;
    height: 55px;
}

main nav ul {
    margin-left: 190px;
}

main nav ul li {
    padding-right: 19px;
}

main nav ul li a {
    color: #333333;
}

main nav ul li a:hover {
    color: #ff6700;
}

main nav search input {
    width: 245px;
    height: 52px;
    margin-left: 59px;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

main nav search i {
    padding: 8px 11px 17px 11px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    line-height: 52px;
}

main nav search i:hover {
    background-color: #ff6700;
    color: #ffffff;
}

main .container {
    display: flex;
    height: 460px;
    background-image: url(../img/轮播图/2.webp);
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease;
}

main .container .picture {
    /* display: flex; */
    position: relative;
    width: 100%;
    height: 460px;
    /* overflow: hidden; */
}

/* main .container .picture .images {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease;
}

main .container .picture .images .img {
    flex: 0 0 100%;
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    /* background-position: 90% 100%; */
/* }

main .container .picture .images .img:nth-child(1) {
    background-image: url(../img/轮播图/1.jpg);
}

main .container .picture .images .img:nth-child(2) {
    background-image: url(../img/轮播图/2.webp);
}

main .container .picture .images .img:nth-child(3) {
    background-image: url(../img/轮播图/3.webp);
}

main .container .picture .images .img:nth-child(4) {
    background-image: url(../img/轮播图/4.webp);
}

main .container .picture .images .img:nth-child(5) {
    background-image: url(../img/轮播图/5.webp);
}

main .container .picture .images .img:nth-child(6) {
    background-image: url(../img/轮播图/6.webp);
} */

main .container .picture .min {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 25px;
    right: -40px;
    width: 12%;
    z-index: 999;
    transform: translateX(-50%);
}

main .container .picture .min .m {
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid rgba(176, 175, 175, .9);
    background-color: rgba(135, 138, 136, .9);
}

main .container .picture .min .m:hover {
    background-color: rgba(254, 254, 254, .9);
}

main .container .picture .button {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
    align-items: center;
}

.button-left,
.button-right {
    width: 40px;
    height: 70px;
    font-size: 50px;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
    line-height: 65px;
    color: rgba(191, 187, 187, 0.8);
}

.button-left:hover,
.button-right:hover {
    background-color: rgba(106, 106, 105, 0.8);
}

main .container aside {
    /* width: 235px; */
    width: 290px;
    padding: 20px 0 20px 0;
    background-color: rgba(106, 105, 106, 0.7);
}

main .container aside ul {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 32px;
}

main .container aside ul li {
    position: relative;
    padding: 5px 0 5px 30px;
    color: #ffffff;
    font-size: 14px;
}

main .container aside ul li:hover {
    background: #ff6700;
}

main .container aside ul li i {
    position: absolute;
    right: 20px;
    color: 220, 220, 220;
}

main .more {
    display: flex;
    margin: 15px 0 15px 0;
}

main .more div:first-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 170px;
    background-color: #5f5750;
    color: #c2bfbd;
}

main .more div span {
    width: 33.3333%;
    height: 50%;
    border: 1px solid #665e57;
    border-radius: 1px;
    padding-top: 10px;
    font-size: 13px;
    text-align: center;
}

main .more div span:hover {
    color: #ffffff;
}

main .more div img {
    margin-left: 15px;
    width: 315px;
    height: 100%;
}

/* @media (min-width: 1921px) {

    header nav,
    main {
        width: 1400px;
    }
}

@media (min-width: 1601px) and (max-width: 1920px) {

    header nav,
    main {
        width: 1225px;
    }
}

@media (min-width: 1366px) and (max-width: 1600px) {

    header nav,
    main {
        width: 1100px;
    }
}

@media (max-width: 1365px) {

    header nav,
    main {
        width: 90%;
    }
} */