@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url('iconfont.ttf?t=1742395578199') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e627";
}

.icon-huafeichongzhi:before {
  content: "\e642";
}

.icon-dalou2-xianxing:before {
  content: "\e694";
}

.icon-a-36yj_dianhuaka_sim:before {
  content: "\e879";
}

.icon-fma:before {
  content: "\e604";
}

.icon-yijiuhuanxin:before {
  content: "\e501";
}